.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 0.6rem;
    background-color: #7b2cbf;
    border-bottom-color: #ffd500;
    position: fixed;
    left: 0;
    top: 0;
}
.nav-logo {
    width: 10rem;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
}
.link{
    text-decoration: none;
    color: white;
    margin: 1rem;
}