.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #1d72d8ff;
    border-top-style: solid;
    border-top-width: 0.6rem;
    border-top-color: #ffd500;
}
.logo {
    width: 8rem;
    margin: 0;
}
.copyright {
    color: white;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: small;
}