.container {
    margin: 5rem 1rem;
}
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    color: #23286bff;
}
.card-item {
    margin: 2rem;
    border-radius: 8px;
    background-color: #d8e2dc;
}
.card-title {
    text-transform: uppercase;
    text-align: center;
}
.card-img {
    width: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-details {
    margin: 0.5rem;
    color: #1d72d8ff;
    text-transform: capitalize;
}
.button {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-style: none;
    border-radius: 8px;
    background-color:#ffd500;
    cursor: pointer;
    text-decoration: none;
}
.filters {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d8e2dc;
    border-radius: 8px;
}
.filters h3 {
    color: #23286bff;
    padding-left: 1rem;
}
.button-filter {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #23286bff;
    outline: none;
}
.button-filter:focus {
    border-color: yellow;
}