.main {
    display: inline-flex;
    align-items: center;
	margin: 3rem;
}
.main h1 {
    font-size: 74px;
    color: #23286bff;
}

.main img {
    width: 40%;
}

.main p {
    font-size: 24px;
    color: #23286bff;
}
/* Mobile */
@media (max-width:768px) {
    .main {
		display: flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
	}

	.main img {
		width: 100%;
	}
}